:root {
	--transaviabruin: #ECDACB;
	--wit: #FBF7F4;
	--buttonroze: #FE3267;
	--groen: #02D56D;
	--blauw: #29009F;
}

body {
	margin: 0;
	background-color: var(--transaviabruin);
    font-family: Nexa;
}

body > header {
	height: 4em;
	top: 0;
	width: 100%;
	z-index: 10;
	background-color: var(--wit);
	display: flex;
	align-items: center;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.2);

}
nav {
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
   
}
body > header img {
	height: 2em;
	margin: 0 0.5em;
}
header ul {
	display: flex;
	padding: 0;
	list-style: none;
}

/* SORTEER OPTIE  */

section nav {
	width: 100%;
	margin-right: 1em;
	display: flex;
	justify-content: center;

}
body {
    background-image: url(../img/letterlijksmartphone.png);
    background-size: cover; 
}

@media (min-width:48em) {
	body {
		background-image: url(../img/letterlijktablet.png);
	}
    
}

@media (min-width:64em){
	body {
		background-image: url(../img/letterlijkdesktop2.png);
	}
}