:root {
	--transaviabruin: #ECDACB;
	--wit: #FBF7F4;
	--buttonroze: #FE3267;
	--groen: #02D56D;
	--blauw: #29009F;
}
/* BASIC SETTINGS */

*{
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: var(--transaviabruin);
	font-family: Nexa;
}
ul{
    list-style-type: none;
}
img svg{
    fill: var(--groen);
}
body > header {
	height: 4em;
	top: 0;
	width: 100%;
	z-index: 10;
	background-color: var(--wit);
	display: flex;
	align-items: center;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.2);
}

body > section {
	background: url(../img/Fontana_di_Trevi.jpg) center;
	background-size: cover;
	width: 100vw;
	height: 20em;
	display: flex;
	justify-content: center;	
}

a {
	text-decoration: none;
}
section article {
	margin: 2em auto;
	width: 45vh;
	height: 10em;
	background-color: white;
	border-radius: 1em; 
	padding: 1em;
	position: absolute;
}

header nav {
	width: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
}
body > header img {
	height: 1.7em;
    margin: 0 0.5em;
}
header ul {
	display:flex; 	 
}

/* Illegale manier van SVG kleuren in een IMG te veranderen */
.icon{
	filter: invert(0.4) sepia(1) opacity(100%) saturate(5.5) hue-rotate(69deg) brightness(1.2);
}
.icon:hover{
	cursor: pointer;
	filter: invert(0.4) sepia(1) saturate(16.7) hue-rotate(226.8deg) brightness(0.5);
}

/*  verhalen */
main {
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	position: absolute;
}

h2 {	
	margin: 0 .5em;
	color: var(--groen);
	font-size: 1.5em;
	position: relative;
}
section > article > nav {
	display: flex;
	justify-content: center;
	margin: 1em auto;
}

nav button:nth-of-type(1) {
	width: 10em;
	height: 5em;
  	background-color: var(--blauw);
  	color: white;
	border-radius: 2em 0 0 2em;
	z-index: 1;
}

nav button:nth-of-type(2) {
	margin-left: -0.5em;
	width: 10em;
	height: 5em;
	border-radius: 0 2em 2em 0;
}
main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

main article {
	height: 20em;
	width: 50vh;
	margin: 1em;
	border-radius: 1em;
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
}

article > header {
	background-color: var(--groen);
	height: 4em;
	width: auto;
	display: flex;
	justify-content: space-between;
	top: 0;
	border-radius: 1em 1em 0 0;
}

article > header > h3 {
	margin: 0 0 0 1em;
	color:var(--wit);
	padding: 0;
	align-self: center;
}

article > header > img {
	width: 2em;
	height: 2em;
	margin: 1em 1em 0 0;
}
article p {
	margin: 0 0 0 1em;
	color: var(--wit);
	font-weight: bold;
	text-shadow: .1em .1em #000;
}

article > footer > img {
	height: 1.5em;
	margin: 0 0 0 1em;
}
article > footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--wit);
	height: 3em;
	border-radius: 0 0 1em 1em;
}
article > footer > a {
	background-color: var(--buttonroze);
	padding: 0.7em;
	border-radius: 1.5em;
	color: var(--wit);
	font-weight: bold;
	margin: 0 1em 0 0;
}


main article:nth-of-type(1){
	background-image: url(../img/paranoia_vh.png);
	background-size: cover;
}

main article:nth-of-type(2){
	background-image: url(../img/paranoia.png);
	background-size: cover;
}

main article:nth-of-type(3){
	background-image: url(../img/letterlijk.png);
	background-size: cover;
}
main article:nth-of-type(4){
	background-image: url(../img/paranoia_vh.png);
	background-size: cover;
}

main article:nth-of-type(5){
	background-image: url(../img/paranoia.png);
	background-size: cover;
}

main article:nth-of-type(6){
	background-image: url(../img/letterlijk.png);
	background-size: cover;
}
