:root{
    --beige: #ECDACB;
    --transaviabruin: #ECDACB;
    --wit: #FBF7F4;
    --buttonroze: #FE3267;
    --groen: #02D56D;
	--blauw: #29009F;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* BASIC OVERAL SETTINGS */
body {                
    margin: 0;
    background-color: var(--transaviabruin);
    font-family: Nexa;
}

body > header{
    height: 4em; 
    background-color: var(--wit);
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
}

/* LOGO LINKS */

body > header img {
    height: 1.8em;
}

/* NAVIGATIE MENU */
header ul {
    display: flex;
    padding: 0;
    list-style: none;
}
header > nav > ul > li > a > span{
	display: inline-block;
	overflow: hidden;
	text-indent: -9999em;
}
.hidden {
    opacity: 0;
}
.bookmark{
    position: relative;
    left: 2em;
}

/* GROOTTE */
header ul li {
    margin: 0 0.5em;
}

main {
    display: flex;
    justify-content: center;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30em;
    border-radius: 1em;
    width: 80%;
    max-width: 30em;
    background-color: rgba(255,255,255, 0.9);
    margin-top: 2em;
}
main section header {
    border-radius: 1em;
}

main section h1 {
    color: var(--groen);
    margin: 0.5em;
    font-size: 2em;    
}

main section p {
    margin: 1em;
    
}

form {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    display: flex; 
    justify-content: center; 
}

label {
    display: inline-block;
    margin-bottom: 0.2em;
	font-weight: 700;
}

input {
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
	padding: 0 1em;
	border: 1px solid black; 
	border-radius: 0.5em; 
	font-family: nexa; 
    font-size: 1em;	
}
input:valid {
    border-color:green;
  } 
  input:invalid {
    border-color:var(--buttonroze);
    background:var(--wit);
  }
 
button {
    width: 8em;
    height: 3em;
    border-radius: 1.25em; 
    background-color: var(--buttonroze);
    color: white;
    font-size: 1em; 
}
fieldset {
    border: none;
}
a {
    margin-top: 1em;
    text-decoration: none;
    font-weight: bold;
    color: var(--blauw);
}

a:hover {
    color: var(--groen);
}
form > fieldset > legend > span {
    display: inline-block;
	overflow: hidden;
	text-indent: -9999em;
}
form {
    flex-direction: column;
    align-items: center;
}
footer{
    margin-top: 5em;
	background-color: var(--groen);
	color: var(--wit);
	display: flex;
	justify-content: center;;
}

footer > p {
	margin: 1em 0;
}

@media (min-width: 48em) {
    header > nav > ul > li> a:hover {
        cursor: pointer;
        opacity: 1;
        filter: none;
    }
   
    header > nav > ul > li > a > span {
		display: block;
		overflow: visible;
		text-indent: .1em;
        color: var(--groen);
    }
    header > nav > ul > li > a{
		margin: 0 0.5em;
	}
	ul > li > a {
		display: flex;
		justify-content: center;
		align-items: center;
        height: 4em;
    }
    header > nav > ul li:hover {
		background-color: var(--blauw);
    }
    .bookmark{
        position: relative;
        left: 1.5em;
    }

   main {
       display: flex; 
       justify-content: center; 
   
   }

   section{
    display: flex; 
    height: 10em;
    border-radius: 1em;
    width: 5em;
    background-color: var(--wit);
   }

   body{
       background-image: url(../img/Fontana_di_Trevi.jpg);
       background-size: cover; 
       background-repeat: no-repeat;
   }
}